*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

}
html{
    width:100%
}
/*header start*/

#header{
    width: 100%;
    top: 0;
    left: 0;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}
#header nav{
   float: right;
    
}
#header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    margin: 2rem 4rem 0 0;
}
#header nav ul li {
    margin: 0 2rem;
    font-size: 1rem;
    font-weight: bold;
}
#header nav ul li a{
    color: #fff;
}
#header nav ul li a:hover{
    color: #e3dcdc;
    text-decoration: none;
}
#header .fa-align-justify{
    font-size: 2rem;
    color: #fff;
    float: right;
    display: none;
}
.logo img{
    height: 3rem;
    margin: 1.2rem 5rem ;
}
.fa-times{
    transform: skew(-180deg) rotate(-180deg);
}

/*header end*/

/*home start*/
#home{
    height: 100vh;
    background: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.6));;
    position: relative;

}
#home .content{
    margin-top: 5rem;
}
#home .content h1{
    color: #fbf2fc;
}
 .video-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}
#home .vid{
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;

}
/*home end*/
@media (max-width:769px){
    html{
    }
   #header .fa-align-justify{
        font-size: 2rem;
        margin: 1rem 3rem;
        color: #fff;
        float: right;
        display: block;
        z-index: 1;
        position: relative;
    }
   #header nav{
        top:0;
        right: 0;
        height: 100vh;
        position: fixed;
        background-color: #565756;
        float: right;
        width: 20rem;
        display: none;
         
     }
 
     #header nav ul{
        
         flex-flow: column;
         justify-content: center;
     }
     #header nav ul li{
         margin: 2rem 0;
     }
     #header nav ul li a{
         padding: .5rem 7.5rem;
         font-size: 1.2rem;
         border-radius: 5rem;
     }
     #header nav ul li a:hover{
         color: #1e1f1e;
         background-color: #fbf2fc;
     }
     #header nav.active{
         display: flex;
     }

    
}